header h1{
    text-align: center;
}
.title{
    font-size: 36px;
    font-weight: 700;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    font-weight: 500;
}
.container{
    border: 2px solid gray;
    padding-top: 32px;
    margin-top: 50px;
    text-align: center;
}
.color{
    display: inline-block;
    width: 20%;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid black;
    font-weight: 700;
    font-size: 20px;
}
.green{
    background-color: #00aa00;
}
.blue{
    background-color: #009fd4;
}
.purple{
    background-color: #b381b3;
}
.slate{
    background-color: #808080;
}
.yellow{
    background-color: #aa8f00;
}
.orange{
    background-color: #ff4500;
}
.red{
    background-color: #f64747;
}
/* Fonts section */
.fonts{
    display: inline-block;
    padding: 10px 10px;
    margin: auto;
    height: auto;
}
.font-title{
    color: black;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: grey;
}
#font1-1{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 24px;
}
#font1-2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
#font1-3{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style:italic;
}
#font2-1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 24px;
}
#font2-2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
#font2-3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}
#font3-1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 24px;
}
#font3-2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
#font3-3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}
/* text Style*/

.styles{
    display: inline-block;
    padding: 10px 20px;
}
.styles ul li{
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0;
}
.styles p{
    font-size: 28px;
    font-weight: 700;
}